/* Nord Theme Palette */
:root {
  /* Polar Night */
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;

  /* Snow Storm */
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;

  /* Frost */
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;

  /* Aurora */
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;

  /* Custom/Modified Colors */
  --nord4-opacity-50: #d8dee973;
  --nord4-opacity-70: #d8dee9ab;
}

/* THEME START */
:root {
  /* Body Background */
  --background-color: var(--nord0);

  /* Search Bar Background */
  --color-search-input: var(--nord1);

  /* Header Background */
  --header-bg: var(--nord1);

  /* Footer Background */
  --footer-bg: var(--nord0);

  /* Control Center Background */
  --control-center-bg: var(--nord1);

  /* Search Tab Video Card Background */
  --inline-widget-bg: var(--nord1);

  /* Related Item Background */
  --related-item-bg: var(--nord1);

  /* Site Into Popup Footer Background */
  --site_info_bottom_bg: var(--nord2);

  /* Video Tab Video Item Background */
  --video-item-bg: var(--nord1);

  /* Kagi Assistant Pre-Chat Infobox*/
  --ai_chat_buble_a_bg: var(--nord1);

  /* Assistant Document URL Input Form (& possibly more) */
  --input-bg: var(--nord1);

  /* Search Result Item Date Background*/
  --search-result-date-bg: var(--nord1);

  /* Primary Button Background (e.g. Sign Out Button) */
  --btn-primary-bg: var(--nord8);

  /* Primary Button Background [Hover] */
  --color-primary_hover: var(--nord9);

  /* Research Assistant Accent */
  --kagi-purple: var(--nord15);

  /* Code Assistant Accent */
  --kagi-orange: var(--nord12);

  /* Chat Assistant Accent */
  --kagi-graphite-ia: var(--nord13);

  /* Custom Assistant Accent */
  --kagi-sky-i: var(--nord10);

  /* Images Page Underline */
  --nav_n_im_line: var(--nord10);

  /* Videos Page Underline */
  --nav_n_vi_line: var(--nord12);

  /* News & Podcasts Underline */
  --nav_n_ne_line: var(--nord15);

  /* Maps Page Underline */
  --nav_n_ma_line: var(--nord14);

  /* Search Result Item Title */
  --search-result-title: var(--nord6);

  /* Search Result Item URL */
  --search-result-url-link: var(--nord6);

  /* Search Result Item Description (uses modified color) */
  --search-result-content-text: var(--nord4-opacity-70);

  /* Footer Links Color */
  --color-primary-dim_8: var(--nord4-opacity-70);

  --color-secondary: var(--nord4-opacity-70);

  /* "Humanize the Web" */
  --color-primary-dim_5: var(--nord4-opacity-50);

  /* Primary Navigation Links */
  --color-primary: var(--nord4);

  /* Navigation Links Exceptions */
  --page-text-color: var(--nord4);

  /* Control Center Descriptions */
  --color-primary-dim_6: var(--nord4-opacity-70);

  /* Control Panel White Button Text */
  --btn-primary-color: var(--nord0);

  /* Search Results Infobin Color */
  --inline-header-title: var(--nord7);

  /* Active Tab Underline Color */
  --nav_n_se_line: var(--nord7);

  /* Keyboard Shortcuts Shortcuts */
  --kagi-highlight: var(--nord7);

  /* Header Border Color */
  --header-border: var(--nord4-opacity-70);

  --app-sidebar-item-border: var(--nord4-opacity-70);

  /* Inline Header Color */
  --inline-header-border: var(--nord4-opacity-50);

  /* Search Clear and Search Bar Search Icon Separator Color */
  --color-primary-dim_3: var(--nord3);

  /* Search Result Underline Color */
  --result-item-title-border: var(--nord4-opacity-50);

  /* Quick Peek Collapse/Expand Arrow */
  --color-primary-dim_2: var(--nord4-opacity-50);

  /* Wikipedia Result Title */
  --wiki-title: var(--nord6);

  /* Wikipedia Result Links */
  --wiki-content-links: var(--nord6);

  /* Interesting Finds/Blast From The Past Links */
  --color_link: var(--nord8);

  /* Interesting Fings/Blast From The Past Links Data Background */
  --inline-domain-tag-bg: var(--nord1);

  /* New Search Result Text Color */
  --search-result-date-new: var(--nord4-opacity-50);

  /* New Search Result Date Background */
  --search-result-date-new-bg: var(--nord1);

  /* Quick Settings Separator Color */
  --color-secondary-dim_5: var(--nord4-opacity-50);
}

/* Kagi Assistant Answer Button Background */
#orbSubmitBtn {
  background-color: var(--nord8);
}

/* Search Mode Toggle Icon Background [Hover] */
#search_mode_toggle_label > i.oSea:hover {
  background-color: var(--nord9) !important;
}

/* Keyboard Shortcuts Modal */
#help_modal {
  background-color: var(--nord1);
}

/* Assistant Model Ultimate Only Badge */
.ia_mode_badge {
  background-color: var(--nord7);
  color: var(--nord0);
}

/* Image Preview Footer Background */
#PreviewImageModal > div.image-preview-footer._0_SRI {
  background-color: var(--nord0);
}

/* Search/Assistant Mode Toggle Icon Color */
#tonav
  > div
  > div.serp_nav_start
  > div.search_mode_box_s
  > a:nth-child(1)
  > svg,
#tonav
  > div
  > div.serp_nav_start
  > div.search_mode_box_s
  > a.ico_ia._0_ico_ia.mode_4
  > svg,
#search_mode_toggle_label > i.oSea,
#search_mode_toggle_label > i.oSea:hover,
#search_mode_toggle_label > i.o2rb._0_ico_ia.mode_7 > svg,
#search_mode_toggle_label > i.o2rb._0_ico_ia.mode_5 > svg,
#search_mode_toggle_label > i.o2rb._0_ico_ia.mode_6 > svg,
#search_mode_toggle_label > i.o2rb._0_ico_ia.mode_4 > svg {
  color: var(--nord4) !important;
}

/* Search/Assistant Mode Toggle Icon Color*/
#search_mode_toggle_label > i.o2rb._0_ico_ia.mode_4 > svg {
  color: var(--nord2);
}

/* Assistant Logo BETA Label Text Color */
#home-link > i > svg > text > tspan {
  color: transparent;
}

/* Search Button Border Color */
#orbSubmitBtn {
  border-color: var(--nord7);
}

#searchBar::placeholder {
  color: var(--nord4-opacity-50);
}

/* Lens Toggle Active Background */
.k_ui_toggle_switch {
  --active-bg-color: var(--nord14);
}

/* Search Mode Toggle Icon Background */
#search_mode_toggle_label > i.oSea,
#tonav > div > div.serp_nav_start > div.search_mode_box_s > a.--active {
  background-color: var(--nord9);
}

/* Search Mode Toggle Icon Background [Hover] */
#search_mode_toggle_label > i.oSea:hover,
#tonav
  > div
  > div.serp_nav_start
  > div.search_mode_box_s
  > a:nth-child(1):hover {
  background-color: var(--nord9) !important;
}

/* Site Info Modal Background */
#domainInfoModal > div > div.ranked-box-center > div:nth-child(1),
#domainInfoModal
  > div
  > div.ranked-box-center
  > div.d-info-section.d-info-switch-a {
  background-color: var(--nord1);
}

/* Search Button Background */
#searchFormSubmitBtn {
  background-color: var(--nord8);
}

/* Search Button Border */
#searchFormSubmitBtn {
  border-color: var(--nord9);
}

/* Footer Border Color */
body > div.app-box._0_app-wrapper > div > footer {
  border-top-color: var(--nord4-opacity-50);
}

/* Lens Selection Box Border Color */
#tonav
  > div
  > div.serp_nav_start
  > div._0_lenses
  > div
  > div.k_ui_dropdown_data_list {
  border-color: var(--nord3);
}

#searchFormSubmitBtn {
  color: var(--nord0);
}

:focus-visible {
  outline-color: var(--nord8);
}

#mm-image > div.img-min-max-sub > button {
  background-color: var(--nord8);
  border-color: var(--nord9);
}

/* Border Colors */
#tonav
  > div
  > div.serp_nav_start
  > div._0_lenses
  > div
  > div.k_ui_dropdown_data_list,
#tonav
  > div
  > div.serp_nav_start
  > div._0_lenses
  > div
  > div.k_ui_dropdown_data_list
  > div
  > hr,
#tonav
  > div
  > div.serp_nav_end
  > div.more_search_dropdown_box
  > div
  > div._0_k_ui_dropdown_data_list.k_ui_dropdown_data_list,
#sidebarNav > div.dropdown.dd_clean.filter-item.--dropdown-open > div,
#mm-image {
  border-color: var(--nord4-opacity-70);
}
